model:
  model_id: google/gemma-3-1b-it
  device: cuda
  dtype: bfloat16

experiment:
  max_tokens: 512
  temperature: 0.7
  n_samples: 128
  output_path: ../runs/GSM8K/gemma-3-1b--temp-0.7--samples-128--max-512.jsonl

benchmark:
  type: gsm8k_jsonl
  params:
    path: ../datasets/GSM8K/test.jsonl
    limit:             

verifier:
  type: boxed_number
  params:
    tol: 0.00001

