model:
  model_id: Qwen/Qwen2-7B-Instruct
  device: cuda
  dtype: bfloat16

experiment:
  max_tokens: 512
  temperature: 0.7
  n_samples: 128
  output_path: ../final_runs/GSM8K/Qwen2-7B--temp-0.7--samples-128--max-512.jsonl

  system_prompt: Please reason step by step, and put your final answer within \boxed{}.
  reasoning: false

benchmark:
  type: gsm8k_jsonl
  params:
    path: ../datasets/GSM8K/test.jsonl

verifier:
  type: boxed_number
  params:
    tol: 0.00001

